:root {
  --font-base: 'Montserrat', sans-serif;
  --font-alt: 'Playfair Display', serif;
  --main-color: rgb(233, 107, 1);
  // --main-color: rgb(113, 127, 224);
  --alt-color: #f3ead4;
  --bg-dark: #222;
  --bg-dark2: #15161D;
  --main-transition: .3s;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-base) !important; 
  background-color: var(--alt-color);
  min-height: 100vh;
}
a {
  text-decoration: none !important;
}
ul {
  display: flex;
  list-style: none;
  padding: 0 !important;
  margin: 0 !important;
}
::selection {
  color: var(--main-color);
  background-color: #333;
}
::placeholder {
  color: #666;
}
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-track {
  background-color: var(--alt-color);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 15px;
}
::-webkit-scrollbar-corner {
  background-color: var(--alt-color);
}