@import '../../mixins';
.Testimonials {
  background-color: var(--alt-color);
  .Testimonials_cont {
    width: 60%;
    margin: auto;
    padding: 40px;
    @include media(md) {
      width: 80%;
    }
    @include media(sm) {
      width: 100%;
    }
    .test {
      padding: 0 30px;
      @include media(sm) {
        padding: 10px;
      }
      .test_text {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 45px;
        color: #444;
      }
      .test_info {
        display: flex;
        gap: 15px;
        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
          object-fit: cover;
        }
        .test_info_name {
          color: #666;
          font-weight: 500;
          p {
            color: #666;
            font-weight: 600;
            margin: 8px 0;
          }
        }
      }
    }
  }
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: var(--main-color);
}