.summary {
  background-color: var(--bg-dark2);
  color: #fff;
  height: 50px;
  line-height: 50px;
  position: relative;
  overflow: hidden;
  text-align: center;
  p {
    position: absolute;
    margin-top: 50px;
    user-select: none;
    transition: var(--main-transition);
    width: 100%;
    &.active {
      margin-top: 0;
    }
    a {
      color: var(--main-color) !important;
      cursor: pointer;
    }
  }
  
}